option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: demoproj.wsgi:application

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/99_create_procfile.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "web: gunicorn --bind :8000 --workers 3 --threads 2 demoproj.wsgi:application" > /var/app/staging/Procfile
